html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif; 
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: auto;
  height: auto;
  padding: 5px 10px;
  border: 1px solid gray;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 60px 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-offset {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* header */
.header-container {
  padding-bottom: 10px;
  border-bottom: 3px solid gray;
}
.header-name {
  margin: 0;
  margin-right: auto;
}

.shadow {
  box-shadow: 2px 5px;
}

.header-btn:not(:last-child) {
  margin-right: 30px;
}

.box {
 box-shadow: 2px 2px;
}

/* hero */
.hero-container {
  border-bottom: 3px solid gray;
}

.btn1 {
  padding-top: 15px;
}

.product-box-list {
  flex-wrap: wrap;
}

.product-box-item {
  flex-direction: column;
  justify-content: center;
  width: 255px;
  height: 255px;
  border: 3px solid black;
}

.product-box-item:not(:nth-child(4n)){
  margin-right: 50px;
}

.product-box-item:not(:last-child) {
  margin-bottom: 50px;
}

.product-box-item-form {
  padding-top: 40px;
  padding-left: 40px;
}

.product-checkbox {
  width: 15px;
  min-height: 15px;
}

.product-sku {
  text-align: center;
}

.product-name {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}

.product-price {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}

.product-size {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}

.uniq-product {
  flex-direction: column;
}

.product-sku {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}

/* addfilehtml */
.form-top {
  flex-direction: column;
}

.form-input1 {
  margin-left: 50px;
}

.form-input2 {
  margin-left: 35px;
}

.form-input3 {
  margin-left: 35px;
}

.addfileforminput:not(:last-child) {
  margin-bottom: 25px;
}

.type-switcher-name {
  margin: 0;
  margin-right: 25px;
}

.dvdselection {
  width: 250px;
  height: 250px;
  border: 1px solid coral;
}

/* footer */
.footer-container {
  justify-content: center;
}

